@model IEnumerable<EmployeeViewModel> 

@{
    ViewData ["title"] = "Employees";
}

@if (TempData["Message"] is not null)
{
    <div id="tempAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    @* <script>
        setTimeout(function () {
            var alertBox = document.getElementById('tempAlert');
            if (alertBox) {
                alertBox.classList.remove('show');
                alertBox.classList.add('fade');
                setTimeout(() => alertBox.remove(), 250); // Ensures smooth removal
            }
        }, 2500);
    </script> *@
}




@if (Model.Count() > 0)

{
    

    <h1> All Employess</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>

                <td> @Html.DisplayNameFor(E=>E.Name)</td>
                <td> @Html.DisplayNameFor(E => E.Department)</td>
                <td>@Html.DisplayNameFor(E => E.HireDate)</td>
                <td>@Html.DisplayNameFor(E => E.Address)</td>
                <td>@Html.DisplayNameFor(E => E.Age)</td>
                <td>@Html.DisplayNameFor(E => E.Email)</td>
                <td>@Html.DisplayNameFor(E => E.IsActive)</td>
                <td>@Html.DisplayNameFor(E => E.PhoneNumber)</td>
                <td>@Html.DisplayNameFor(E => E.Salary)</td>
                <td> Deatails</td>
                <td> Update</td>
                <td> Delete</td>
            </tr>
        </thead>

        <tbody>

            @foreach( var Employee in Model)
            {
                <tr>
                    <td>@Employee.Name</td>
                    <td>
                        @(Employee.Department?.Name ?? "No Department Assigned")
                   </td>
                    <td>@Employee.HireDate</td>
                    <td>@Employee.Address</td>
                    <td>@Employee.Age</td>
                    <td>@Employee.Email</td>
                    <td>@Employee.IsActive</td>
                    <td>@Employee.PhoneNumber</td>
                    <td>@Employee.Salary</td>
                    <td> <a asp-action="Deatails" asp-route-id="@Employee.Id"> <i class="fa-solid fa-eye"></i> </a></td>
                    <td>  <a asp-action="Edit" asp-route-id="@Employee.Id"> <i class="fa-solid fa-edit"></i> </a></td>
                    <td>  <a asp-action="Delete" asp-route-id="@Employee.Id"> <i class="fa-solid fa-trash"></i> </a></td>
                </tr>
            }

        </tbody>
        
    </table>
    <a asp-action="Create" class="btn btn-success"> Create new Employee </a>
}
else
{

    <div class="mt-5 alert alert-warning">
        <h3> There are no any Employees </h3>

        

    </div>
    <a asp-action="Create" class="btn btn-success"> Create new Employee </a>

}
